API_KEY=your_api_key_here
PORT=9090
RETAIN_CACHE=false
DISABLE_PCM_NORMALIZATION=false
REQUIRE_API_KEY=True
DEFAULT_VOICE=Emilia
DEFAULT_RESPONSE_FORMAT=mp3
DEFAULT_SPEED=1.0
REF_AUDIO_PATH=ref_audio/Emilia.wav
DEBUG_MODE=false
